
# Data Science Tools and Ecosystems
## Author Carlos A.

In this notebook, Data Science Tools and Ecosystem are summarized

Some of the popular languages that Data Scientist use are:
1. Python
2. SQL
3. R

**Objectives:**

- List popular languages for Data Science
- Describe the role of jupyter Notebooks
- Explain how python is used in data analysis
- Understand basic markdown formatting
- Identify key tools used in Data Science

Some of the commonly used libraries used by Data Scientist include:
1. Pandas
2. NumPy
3. SciPy
4. Matplotlib
5. TensorFlow
6. Scikit-learn

| Data Science Tools |  |  |
| --- | --- | --- |
| Git | Apache | GitLab |

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
(3*4)+5
# This a simple arithmetic expression to multiply then add integers

17

In [4]:
minutes = 200
hours = minutes / 60
print(hours)
# This will convert 200 minutes to hours by dividing by 60

3.3333333333333335